{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <h3 class="jumbotronHeading">Draw the digit inside this Box!</h3>
    <div class="slidecontainer">
        <p>Drag the slider to change the line width.</p>
        <input type="range" min="10" max="50" value="15" id="myRange">
        <p>Value: <span id="sliderValue"></span></p>
    </div>
    <div class="canvasDiv">
        <canvas id="canvas" width="420" height="420"></canvas>
        <br>
        <p style="text-align:center;">
        <a class="btn btn-success myButton" href="#" role="button">Predict</a>
        <a class="btn btn-primary" href="#" id="clearButton" role="button">Clear</a>
        </p>
    </div>
</div>
<div class="jumbotron">
    <p id="result">Get your prediction here!!!</p>
</div>
<!-- /container -->
<script src="{{ url_for('static',filename='JS/index.js') }}"></script>
<script type="text/javascript">
$(".myButton").click(function(){
var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
var canvasObj = document.getElementById("canvas");
var img = canvasObj.toDataURL();
$.ajax({
type: "POST",
url: $SCRIPT_ROOT + "/predict",
data: img,
success: function(data){
$('#result').text(' Predicted Output: ' + data);
}
});
});
</script>
{% endblock content %}